.sidenav {
  position: fixed;
  height: 100%;
  width: 13em;
  z-index: 1;
  background-color: #e4e4e4;
  overflow-x: hidden;
  padding-top: 10px;
}

.newMsg {
  background-color: #fff;
  border: none;
  border-radius: 18px;
  box-shadow: 0 0 2px #888;
  width: 2.5em;
  height: 1.2em;
  margin-left: 1em;
  &:hover {
    background-color: #16d2aa;
    border: 1px solid #16d2aa;
    box-shadow: 0 0 2px #16d2aa;
    cursor: pointer;
  }
}
